html, body {
  font-size: 18px;
  line-height: 1.4;
  font-family: "Helvetica";

}



.container, .supporting {
  max-width: 960px;
  margin: 0 auto;

}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}


.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  top: 1rem;
  position: relative;
  padding: 1rem 2rem;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;

}

.logo {
  display: flex;
  align-items: center;
}

.logo.top span {
  margin-left: 1rem;

}

.logo.top img {
  height: 1.5rem;
}

.flex {
  display: flex;
  justify-content: flex-end;
}



.banner-text {
  background-color: white;
  text-align: right;
  opacity: .8;
  position: relative;
  display: inline-block;
  padding: 1.5rem 5rem;
  top: 10rem;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  margin-right: -2rem;

}
